.header {
  display: flex;
justify-content: center; // Stack items vertically on mobile
  align-items: center; // Center items
  padding: 10px;

  @media (min-width: 300px) {
    display: flex;; // Stack items horizontally on larger screens
    justify-content: center; // Space items evenly
    a{
    
        color: aliceblue;

    }
  }

  .MuiIconButton-root {

    margin: 1px;
          background: green;

     // Add some spacing between buttons
  }
  .MuiIconButton-root:focus {
    background: rgb(0, 102, 255);
  }

}